button{

    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color:yellow;
    border: 0.1875rem solid  peru;
    color: black;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0.5rem;
    box-shadow:0px 2px 10px -1px rgb(0 0 / 19%) ;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    
}

button:hover{
  background-color: transparent;
  color: purple;
}

h1{
    text-align: center;
    font-size: 58px;
 font-weight: 900;
margin-bottom: 1rem;
color: white;
text-shadow: 1px 0 6px #000;

}

.btn{
    display: flex;
    justify-content: space-around;
}